<style>
  /*botones*/
  /* Estilo general para los botones verdes */
  .btn-subir {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2px;
    padding: 10px;
  }
  
  /* Botón verde (insertar) */
  .btn-subir {
    background: linear-gradient(to right, #4caf50 0%, #66bb6a 100%);
  }
  
  .btn-subir:hover {
    color: black !important;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #388e3c 0%, #66bb6a 100%);
  }
</style>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% for field in formulario.visible_fields %}
    <div class="mb-3">
      {% if field.name == 'caracterizacion' %}
        <input style="margin-bottom: 15px; width: 26.4pc;" type="text" name="{{ field.name }}" id="caracterizacion" value="" readonly/>
      {% elif field.name == 'codigo' %}
        <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control" placeholder="Ingrese código" value="{{ field.value|default:'' }}" />
      {% elif field.name == 'file' %}
        <input class="form-control" type="file" name="file" id="{{ field.id_for_label }}" aria-describedby="helpId" />
      {% else %}
        <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" aria-describedby="helpId" placeholder="{{ field.field.label }}" value="{{ field.value|default:'' }}" />
      {% endif %}
    </div>
    <div class="col-12 help-text">{{ field.errors }}</div>
  {% endfor %}

  <input class="btn btn-subir" type="submit" value="Enviar Información" />
</form>
